/* Global Styles */
body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Center main content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
